[Desktop Entry]
Version=1.0
Type=Application
Name=Packet Tracer 7.3.0
Comment=
Exec=/opt/pt/packettracer %f
Icon=/opt/pt/art/app.png
Path=
Terminal=false
StartupNotify=false
